/* Fonts (polices et textes) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Permanent+Marker&display=swap");

h1 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 6rem;
  display: block;
  color: #fafafa;
}

h2 {
  font-family: "Permanent Marker", sans-serif;
  font: small-caps;
  font-size: 3rem;
  display: block;
  color: black
}

.span-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  display: block;
  color: black;
  padding-bottom: 15px;
}

.h2-bg {
  font-family: "Montserrat", sans-serif;
  font: small-caps;
  font-size: 2rem;
  display: block;
  color: #fafafa;
  padding-bottom: 15px;
}

.h2-bg-title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 6rem;
  display: block;
  color: #fafafa;
}

/* STRUCTURE */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-column {
  flex-direction: column;
}

/*SECTION-01*/

.bg-section-01 {
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;

}

.bg-section-03 {
  background-image: url("../img/slider-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
}

.bg-section-05 {
  background-image: url("../img/slider3.jpg");
  background-position: center center;
  background-size: cover;
  width:100% ;
  background-repeat: no-repeat;
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
}